@import "../default.css";

:root{   
    --LivingCoral:   #ff6f61;
    --LivingCoral-dark: #f17266; 
    --livingCoral-white: #f0f0f0;
    --livingCoral-gray: #4e4747;
    --livingCoral-lightgray: #4e47473b;
}

body{
    background-color: var(--livingCoral-white);    
}

.bg-livingCoral {
    background-color:var(--LivingCoral) !important;
  }
  
  a.bg-livingCoral:hover, a.bg-livingCoral:focus,
  button.bg-livingCoral:hover,
  button.bg-livingCoral:focus {
    background-color: #1d2124 !important;
  }

  .logo{
    font-size:2.5rem;
    color: var(--livingCoral-white);
  }

  #navbarText .navbar-nav .nav-item a {
      text-transform: uppercase;
      font-weight: bold;
  }

  footer{
    color: var(--livingCoral-lightgray);
    font-size:0.9rem;
    font-weight:300;
}

footer strong{
    font-weight: 600;
}

  a {
    color:var(--LivingCoral);
 
  }
  
  a:hover {
    color: var(--LivingCoral-dark);
    
  }


  
 
